* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #070b18;
  color: white;
}

header {
  padding: 25px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0b1024;
  border-bottom: 1px solid #1d2b5f;
}

header h1 {
  color: #4da3ff;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: bold;
}

nav a:hover {
  color: #4da3ff;
}

.hero {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #070b18, #101b3d);
  padding: 40px 8%;
}

.hero h2 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 20px;
  color: #c7d2ff;
}

.btn {
  margin-top: 30px;
  padding: 14px 30px;
  background: #4da3ff;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 60px 8%;
}

section h2 {
  text-align: center;
  margin-bottom: 35px;
  font-size: 34px;
  color: #4da3ff;
}

.jobs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 18px;
}

.job {
  background: #0f1733;
  border: 1px solid #263b7a;
  padding: 18px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
}

.job span {
  color: #39ff88;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 25px;
  background: #0b1024;
  color: #aaa;
}
